{% extends "shopper_challenge/base.html" %}

{% block header %}
{% include "shopper_challenge/btn_edit_logout.html" %}

{% endblock %}

<hr>

{% block content %}
<div class="container">

   <section>
    Welcome back, <b>{{ name }}</b>
    <br/>
   <div class="alert alert-success fade in">
       <a href="#" class="close" data-dismiss="alert">&times;</a>
       <i class="icon-thumbs-up"></i> Your application has been successfully submitted !! Thanks for your interest in Instacart.
   </div>      
   </section>
   
   <hr>
   
   <section>
        <h4>Your application reference id is <b>{{ id }}</b>.</h4>
        <br />
        <h4>What happens now?</h4>
        <ul>
            <li>We will evaluate your application and reach out to you soon with next steps.</li>
        </ul>
   </section>
   
   <hr>

    <section>
        {% include "shopper_challenge/table_shopper_print.html" %}
    </section>

</div>

{% endblock %}