{% extends "shopper_challenge/base.html" %}
{% block content %}

<!-- I have used a template for signup and register page. This helped in developing interface fast. Reference http://bootsnipp.com/snippets/featured/login-and-register-tabbed-form -->



<script>
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });

</script>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">

                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="register-form-link">Register</a>

                        </div>
                        <div class="col-xs-6">
                            <a href="#"  id="login-form-link">Check Application Status</a>

                        </div>
                    </div>

                    <hr>


                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" method="post" action="/shopper_challenge/check_status/" role="form" enctype="multipart/form-data" style="display: none;">
                                {% csrf_token %}

                                <div class="form-group">
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address Registered with instacart" value="" required>
                                </div>


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="CHECK STATUS">
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <form id="register-form" method="post"  action="/shopper_challenge/signup/"
                                  role="form" enctype="multipart/form-data" onsubmit="validate_form()" style="display: block;">
                                {% csrf_token %}
                                <p class="h5">Earn money shopping and delivering groceries, giving customers more time to do what they love. Apply in under 5 minutes!</p>
                                <div class ="div-center-align">

                                <b> Be Independent</b>
                                    <b> Have Fun</b>
                                    <b> Earn Extra Income</b>
                                </div>


                                <p class="h4 div-center"> Apply in Under 5 minutes</p>
                                <div class="form-group">
                                    <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Name" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" id="phone" tabindex="2" class="form-control" placeholder="Mobile No" pattern="[1-9][0-9]{9}" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" id="city" tabindex="2" class="form-control" placeholder="City" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="state" id="state" tabindex="2" class="form-control" placeholder="State" required>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="APPLY NOW">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}
{% block extra_css %}
<style>
    body {
    {% load static %}

        background-image: url("{% static "images/grocery.jpg" %}");
    }
</style>
{% endblock %}