{% extends "shopper_challenge/base.html" %}

{% block header %}

{% include "shopper_challenge/btn_edit_logout.html" %}

{% endblock %}

{% block content %}
<div class="container">

   <section>

    Welcome back, <b>{{ name }}</b>
    <br/>
    <p>Application status: <b>{{ workflow_state}}</b> </p>
   </section>
   
   <hr>
   
   <div class="well">
            <form class="form-horizontal" id="applicant_form" method="post" action="/shopper_challenge/update/"
                role="form" enctype="multipart/form-data" onsubmit="validate_form()">
                {% csrf_token %}
                  <div class="control-group">  
                    <label class="control-label" for="name">Name</label>  
                    <div class="controls">  
                      <input size="30" type="text" id="name" name="name" value="{{ name }}" required>
                    </div>  
                  </div>
                  
                  <div class="control-group">  
                    <label class="control-label" for="email">Email</label>  
                    <div class="controls">  
                      <input size="30" style="background-color: #bfbfbf" type="email" id="email" name="email" value="{{ email }}" required readonly>
                    </div>  
                  </div>   
                  
                  <div class="control-group">  
                    <label class="control-label" for="phone">Phone</label>  
                    <div class="controls">  
                      <input size="30" type="text" id="phone" name="phone" value="{{ phone }}" pattern="[1-9][0-9]{9}" required>
                    </div>  
                  </div>
                  
                  <div class="control-group">  
                    <label class="control-label" for="city">City</label>  
                    <div class="controls">  
                      <input size="30" type="text" id="city" name="city" value="{{ city }}" required>
                    </div>  
                  </div>   

                  <div class="control-group">  
                    <label class="control-label" for="state">State</label>  
                    <div class="controls">  
                      <input size="30" type="text" id="state" name="state" value="{{ state }}" required>
                    </div>  
                  </div>                                                                   
                  <div class = "div-center">
                 <div class="form-actions">
                     <input type="submit" class="btn btn-success btn-large" value="UPDATE MY INFO">

                 </div>
                </div>

            </form>
   </div>  
</div>
{% endblock %}